@inherits UmbracoViewPage<IViewModelBase>
<!DOCTYPE html>
<html lang="@Model.Culture">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@Model.Content.Name</title>
</head>

<body>
    @RenderBody()
</body>
</html>
